body {
    margin: 0;
    overflow: hidden;
}
button {
    margin: 0 0.5em;
    padding: 0.25em;
    border-radius: 5px;
    border: none;
    background: #F5FFFA;
    color: #322F42;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tray {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.gallery {
    bottom: 80px;
    height: 10em;
}
.btn-gallery {
    width: 8em;
    height: 8em;
}
.gallery-img {
    width: 5em;
}
.selected {
    background: #C7F0DB;
}

.actions {
    bottom: 10px;
    height: 6em;
}
.btn-group {
    margin: 0 2.5em;
}
.btn-action {
    width: 4em;
    height: 4em;
}
.btn-img {
    height: 2em;
}